In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

#### 1º Parte

In [3]:
con = sqlite3.connect("DBProdutos.db")
cur = con.cursor()

In [4]:
cur.execute("""
CREATE TABLE IF NOT EXISTS produto (
    idProduto INTEGER PRIMARY KEY,
    nome TEXT(100),
    preco NUMERIC
)
""")

In [5]:
dados = [
    (1, 'Mouse Gamer', 120.00),
    (2, 'Teclado Mecânico', 250.00),
    (3, 'Monitor 24"', 900.00),
    (4, 'Headset', 180.00),
    (5, 'Cadeira Gamer', 1500.00),
    (6, 'Webcam HD', 300.00)
]
cur.executemany("INSERT INTO produto VALUES (?, ?, ?)", dados)

In [6]:
cur.execute("INSERT INTO produto (idProduto, nome) VALUES (?, ?)", (7, 'Mousepad'))

In [7]:
cur.execute("UPDATE produto SET preco = preco * 1.2 WHERE preco IS NOT NULL")

In [8]:
cur.execute("DELETE FROM produto WHERE idProduto = 3")

In [9]:
cur.execute("SELECT * FROM produto WHERE preco >= 50")
produtos_maior_50 = cur.fetchall()
print("\nProdutos com preço >= 50:")
for p in produtos_maior_50:
    print(p)

Produtos com preço >= 50:
(1, 'Mouse Gamer', 144)
(2, 'Teclado Mecânico', 300)
(4, 'Headset', 216)
(5, 'Cadeira Gamer', 1800)
(6, 'Webcam HD', 360)

In [10]:
cur.execute("""
SELECT 
    ROUND(AVG(preco), 2) AS media,
    MAX(preco) AS maior,
    MIN(preco) AS menor
FROM produto
WHERE preco IS NOT NULL
""")
print("\nEstatísticas de preço:", cur.fetchall())

Estatísticas de preço: [(564.0, 1800, 144)]

In [11]:
cur.execute("""
CREATE TABLE IF NOT EXISTS listaProdutos (
    nome TEXT(100),
    preco NUMERIC
)
""")

cur.execute("""
INSERT INTO listaProdutos (nome, preco)
SELECT nome, preco FROM produto WHERE idProduto <= 4
""")

In [12]:
df_lista = pd.read_sql_query("SELECT * FROM listaProdutos", con)
print("\nDados da tabela listaProdutos:")
print(df_lista)

con.commit()
con.close()

Dados da tabela listaProdutos:
               nome  preco
0       Mouse Gamer    144
1  Teclado Mecânico    300
2           Headset    216